@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

:root {
	--main-color: #041e40;
}

body {
	font-family: "Monserrat", sans-serif;
}

section {
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 140px;
	padding: 0 40px;
	transition: 400ms;
	opacity: 1;
}

section.hide {
	opacity: 0;
	transform: translateX(-20px);
}

h1,
h2 {
	font-family: "Nunito", sans-serif;
	color: var(--main-color);
	font-weight: 800;
	display: block;
	width: fit-content;
	font-size: 1.8rem;
	background: linear-gradient(to top, var(--main-color) 10%, var(--main-color) 4px, transparent 5px) no-repeat;
	padding-bottom: 4px;
	background-size: 40% 100%;
}

p {
	line-height: 1.4;
	font-size: 1.4rem;
}

/** HEADER **/

.site-header {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: white;
	z-index: 1;
	transition: 400ms;
}

header.fixed {
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

header.fixed .site-branding .custom-logo-link {
	width: 42px;
}

.site-header .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	max-width: 1440px;
	margin: 0 auto;
}

.site-branding .custom-logo-link {
	transition: 400ms;
	width: 56px;
}

img.custom-logo {
	object-fit: contain;
}

/** HERO-BANNER **/

.hero-banner {
	display: block;
	height: 600px;
	width: 94%;
	border-radius: 20px;
	margin-top: 60px;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-banner .content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	font-family: "Nunito", sans-serif;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	backdrop-filter: brightness(0.5);
}

.hero-banner .content h1 {
	text-transform: uppercase;
	font-size: 6rem;
	font-weight: 600;
	color: inherit;
	background: inherit;
}

.hero-banner .content p {
	text-transform: uppercase;
	color: white;
}

/** ACCUEIL **/

.description {
	margin-top: 100px;
}

.description p {
	margin-top: 20px;
	font-weight: 500;
}

.history {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.history>div {
	width: 50%;
}

.history-content p {
	margin: 20px 0;
}

.history-img img {
	width: 100%;
	object-fit: cover;
	height: 450px;
	border-radius: 20px;
}

a:visited {
	color: inherit;
}

.button-primary {
	background-color: #a3bad9ed;
	border: 0 solid #e5e7eb;
	box-sizing: border-box;
	color: var(--main-color) !important;
	display: flex;
	font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 700;
	justify-content: center;
	line-height: 1.75rem;
	padding: 0.75rem 1.65rem;
	position: relative;
	text-align: center;
	text-decoration: none #000000 solid;
	text-decoration-thickness: auto;
	width: 100%;
	max-width: 250px;
	position: relative;
	cursor: pointer;
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-primary:focus {
	outline: 0;
}

.button-primary:after {
	content: "";
	position: absolute;
	border: 1px solid #000000;
	bottom: 4px;
	left: 4px;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
}

.button-primary:hover:after {
	bottom: 2px;
	left: 2px;
}

.design-gallery {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 40px;
}

.design-gallery-item {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f2f2f2;
	position: relative;
	border: none;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.design-gallery-item div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	transition: transform .2s ease-out;
	border-radius: 20px;
	border: none;
}

.design-gallery-item .button-primary {
	max-width: 300px;
	position: absolute;
	right: -60px;
	bottom: -40px;
}

.contact-link .button-primary {
	transition: 800ms;
}

.contact-link {
	position: relative;
	width: fit-content;
	margin: 0 auto;
	margin-top: 200px;
}

.contact-link img {
	content: "";
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	left: -60px;
	top: -60px;
}

/** FOOTER **/

.site-footer {
	margin-top: 100px;
	background-color: var(--main-color);
	padding: 30px 20px;
	text-align: center;
	color: white;
}

.site-footer a {
	color: inherit;
}

@media screen and (max-width: 1440px) {
	.site-header .content {
		padding: 10px 60px;
	}

	.hero-banner {
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
	}

	h2 {
		font-size: 1.6rem;
		background-size: 40px 100%;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.2;
	}

	section {
		margin-top: 100px;
		padding: 0 60px;
	}
}

@media screen and (max-width: 769px) {}

@media (min-width: 768px) {
	.button-primary {
		padding: 0.75rem 3rem;
		font-size: 1.25rem;
	}
}